<html>
  <head>
    <title>Kingsong</title>
    
  </head>

  <body>
    <!DOCTYPE html>
    <html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">KingSong</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="home">Home</a></li>
      <li><a href="kingsong1">kingsong1</a></li>
        <li><a href="kingsong2">kingsong2</a></li>
        <li><a href="kingsong3">kingsong3</a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><a href="https://youtu.be/VLBJQgWkgog">เพลงใกล้รุ่ง</a></h1>
    <iframe width="720" height="360"

src="https://www.youtube.com/embed/VLBJQgWkgog&list=PL5DB5F89649D22EF3&index=6?rel=0

&amp;showinfo=0&amp;autoplay=1&amp;loop=1

&amp;playlist=VLBJQgWkgog&list=PL5DB5F89649D22EF3&index=6&amp;fs=0&amp;showinfo=0"

frameborder="0" allowfullscreen></iframe> 
    <center>
ได้ยินเสียงแว่วดังแผ่วมาแต่ ไกล ไกล
<br>ชุ่มชื่นฤทัย หวานใดจะปาน
<br>ฟังเสียงบรรเลง ขับเพลงประสาน
<br>จากทิพย์วิมาน ประทานกล่อมใจ
<br>* ใกล้ยามเมื่อแสง ทอง ส่อง
<br>ฉันคอยมองจ้อง ฟ้าเรืองรำไร
<br>ลมโบกโบยมา หนาว ใจ
<br>รอช้าเพียงไร ตะวันจะมา
<br>** เพลิดเพลินฤทัย ฟังไก่ประสานเสียงกัน
<br>ดอกมะลิวัลย์ อวลกลิ่นระคนมณฑา
<br>โอ้ในยามนี้ เพลิน หนักหนา
<br>แสงทองนวลผ่องนภา แสนเพลินอุราสำราญ
<br>*** หมู่มวลวิหคบินผกมาแต่ รัง นอน
<br>เฝ้าเชยชิดช้อน ลิ้มชมบัวบาน
<br>ยินเสียงบรรเลง ดังเพลงขับขาน
<br>สอดคล้องกังวาน ซาบซ่านจับใจ
<br>
<br>
</center> 
</div

</body>
</html>

  </body>
</html>