<html>
  <head>
    <title>Kingsong</title>
    
  </head>

  <body>
    <!DOCTYPE html>
    <html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">KingSong</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="home">Home</a></li>
      <li><a href="kingsong1">kingsong1</a></li>
        <li><a href="kingsong2">kingsong2</a></li>
        <li><a href="kingsong3">kingsong3</a></li>
      </ul>

    </div>
  </div>
</nav>

<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><a href="https://www.youtube.com/watch?v=yqgZYQOP1PQ">เพลงยามเย็น</a></h1>
  <iframe width="720" height="360"

src="https://www.youtube.com/embed/yqgZYQOP1PQ?rel=0

&amp;showinfo=0&amp;autoplay=1&amp;loop=1

&amp;playlist=yqgZYQOP1PQ&amp;fs=0&amp;showinfo=0"

frameborder="0" allowfullscreen></iframe> 
  <center>
แดด รอน ๆ
<br>เมื่อทินกรจะลับเหลี่ยมเม-ฆา
<br>ทอแสงเรืองอร่าม ช่าง งาม ตา
<br>ในนภาสลับ จับ อัม พร
<br>..แดด รอน ๆ
<br>เมื่อทินกรจะลาโลกไป ไกล
<br>ยามนี้จำต้องพราก จาก ดวง ใจ
<br>ไกลแสนไกลสุดห่วง ยอด ดวง ตา
<br>..แต่ก่อนเคยคลอเคลียกัน
<br>ทุกวันคืนรี่นอุรา
<br>ต้องอยู่เดียวเปลี่ยววิญญา
<br>เหมือนดัง นภา ไร้ ทินกร
<br>แดด รอน ๆ
<br>หากทินกรจะลาโลกไป ไกล
<br>ความรักเราคง อยู่ คู่ กัน ไป
<br>ในหัวใจคงอยู่ คู่ เชย ชม
<br>..แดด รอน ๆ
<br>หมู่มวลภมรบินลอยล่องตาม ลม
<br>คลอเคล้าพฤกษาชาติ ชื่น เชย ชม
<br>ชมสมตามอารมณ์ ล่อง เลย ไป
<br>ลิ่ว ลม โชย
<br>กลิ่นพันธุ์ไม้โปรยโรยร่วงห่วงอา ลัย
<br>ยามสายัณห์พลันพราก จาก ดวง ใจ
<br>คอยแสงทองวันใหม่ กลับ คืน มา
<br>แต่ก่อนเคยคลอเคลียกัน
<br>ทุกวันคืนชื่นอุรา
<br>ต้องอยู่เดียวเปลี่ยววิญญา
<br>เหมือนดังนภาไร้ทินกร
<br>..โอ้ ยาม เย็น
<br>จวบยามนี้เป็นเวลา สุด อา วรณ์
<br>ยามไร้ความสว่างห่างทินกร
<br>ยามรักจำจะ จร จาก กัน ไป..
<br>
<br>
</center> 

</div>

</body>
</html>

  </body>
</html>