<html>
  <head>
    <title>Kingsong</title>
    
  </head>

  <body>
    <!DOCTYPE html>
    <html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      min-height: 200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">

  <div class="container-fluid">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="home">KingSong</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="home">Home</a></li>
      <li><a href="kingsong1">kingsong1</a></li>
        <li><a href="kingsong2">kingsong2</a></li>
        <li><a href="kingsong3">kingsong3</a></li>
      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid bg-1 text-center">
  <h1 class="margin"><a href="https://www.youtube.com/watch?v=-wIhImHuXyM">เพลงพรปีใหม่</a></h1>
<iframe width="720" height="360"

src="https://www.youtube.com/embed/-wIhImHuXyM?rel=0

&amp;showinfo=0&amp;autoplay=1&amp;loop=1

&amp;playlist=-wIhImHuXyM&amp;fs=0&amp;showinfo=0"

frameborder="0" allowfullscreen></iframe> 
 <center>
<br>สวัสดี วัน ปี ใหม่ พา
<br>ให้บรรดา เรา ท่าน รื่น รมย์
<br>ฤกษ์ยามดี เปรม ปรีดิ์ ชื่น ชม
<br>ต่างสุขสม นิ ยม ยิน ดี
<br>
<br>ข้าวิงวอน ขอ พร จาก ฟ้า
<br>ให้บรรดา ปวง ท่าน สุข ศรี
<br>โปรดประทาน พร โดย ปรา ณี
<br>ให้ชาวไทย ล้วน มี โชค ชัย
<br>
<br>ให้บรรดา ปวง ท่าน สุข สันต์ ทุกวัน ทุกคืน
<br>ชื่น ชมให้สมฤทัย ให้รุ่งเรือง ใน วัน ปีใหม่
<br>ผองชาวไทย จง สวัสดี
<br>
<br>ตลอดปี จง มี สุข ใจ
<br>ตลอดไป นับ แต่ บัด นี้
<br>ให้สิ้นทุกข์ สุขเกษม เปรม ปรีดิ์
<br>สวัสดี วัน ปี ใหม่เทอญ
<br>
<br>
</center> 
</div
</body>
</html>

  </body>
</html>